<% if member_signed_in? %>
  <li style="float: right;"><%= link_to 'Sign Out', destroy_member_session_path, :class=> "btn btn-outline btn-success", :method=> :delete %></li>
<% else %>
  <li><%#= link_to 'Sign in', new_member_session_path %></li>
  <li><%#= link_to 'Sign up', new_member_registration_path %></li>
<% end %>
