<h1>Editing Construction Expense</h1>

<%= render 'form', construction_expense: @construction_expense %>

<%= link_to 'Show', @construction_expense %> |
<%= link_to 'Back', construction_expenses_path %>
